Beaks\ Pro/Hardware/andes_12hp/andes_12hp-backups/
Beaks\ Pro/Hardware/andes_8hp/andes_8hp-backups/
*.DS_Store
/Beaks Pro/Hardware/andes_10hp/andes_10HP-backups
Andes/Hardware/andes_8hp/andes-backups/
Andes/Hardware/andes_8hp/front_pcb/front_pcb-backups/
Andes/Hardware/andes_8hp/front_pcb/production/backups/

