Beaks\ Pro/Hardware/andes_12hp/andes_12hp-backups/
Beaks\ Pro/Hardware/andes_8hp/andes_8hp-backups/
*.DS_Store
/Beaks Pro/Hardware/andes_10hp/andes_10HP-backups
Andes/Hardware/andes_8hp/andes-backups/
Andes/Hardware/andes_8hp/front_pcb/front_pcb-backups/
Andes/Hardware/andes_8hp/front_pcb/production/backups/

/Sluisbrinkie Jacquard/Hardware/jacquard/jacquard-backups
/Sluisbrinkie Jacquard/Hardware/jacquard_frontplate/frontpanel/frontpanel-backups
/Sluisbrinkie Jacquard/Hardware/jacquard_frontplate/frontpanel/production/backups
/Andes/Hardware/andes_8hp/andes-backups
/Andes/Hardware/andes_8hp/andes-backups
/Sluisbrinkie Nikaia/sluisbrinkie_vco/sluisbrinkie_vco-backups
/Sluisbrinkie Nikaia/sluisbrinkie_vco_frontplate/sluisbrinkie_vco_frontplate/sluisbrinkie_vco_frontplate-backups
/Sluisbrinkie Nikaia/sluisbrinkie_vco_frontplate/sluisbrinkie_vco_frontplate/production/backups
/Sluisbrinkie Nikaia/sluisbrinkie_vco/production/backups
/Andes/Hardware/andes_8hp/frontpanel/frontpanel-backups
/Andes/Hardware/andes_8hp/andes-backups

*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#
.pio/
